body {
overflow:hidden;
background-color:white;
margin:0;
height:100%;
}
#logo {
    opacity:0;
    height:325px;
    margin-top:-80px;
    position:relative;
    animation: fade-in 0.5s ease 1.5s forwards;
}
#logo-container {
    position:relative;
    margin:0 auto;
    text-align:center;
    top:50%;
    transform:translateY(-50%);
    animation: logo-container 0.5s ease 1.25s forwards;
}
#play-container {
     background-color:#f90;
     height:175px;
     width:175px;
     margin:0 auto;
     margin:0 auto;
     transform:rotate(0deg) scale(50);
     animation: play-container 0.5s ease 0.75s forwards;
 }
 #play {
     background-color:white;
     width:115px;
     height:115px;
     position:absolute;
     clip-path:polygon(75% 50%, 0 0, 0 100%);
     animation: play 0.5s ease 0.5s forwards;
     margin:0 auto;
     left:60px;
     right:0;
     top:31%;
     transform:scale(100) rotate(45deg);
 }
 #play-bar {
     position:relative;
     background-color:white;
     width:25px;
     height:130px;
     margin:0 auto;
     z-index:99;
     left:-15px;
     top:-50vh;
     animation: play-bar 0.25s ease 1s forwards;
 }
#login-container {
    text-align:center;
    transform:translateY(-300%);
    position:relative;
    top:50%;
    animation:fade-in 1s ease 1.75s forwards;
    opacity:0;
}
input[type=password]{
    border:none;
    padding:20px;
    width:800px;
    background-color:lightgrey;
    text-align:center;
}
input[type=submit]{
    font-family:Avenir Bold;
    box-shadow:0px 0px 9px #0000004d;
    cursor:pointer;
    background:linear-gradient(#f90,#ffcf00);
    color:white;
    display:block;
    margin:0 auto;
    margin-top:50px;
    width:100px;
    height:50px;
    border:none;
    transition:all 0.4s ease;
}
input[type=submit]:hover{
    transform:scale(1.25);
}

@media all and (max-width:760px){
    input[type=password] {
        width:90%;
    }
}

@keyframes play-bar {
     from {top:-50vh;}
     to {top:80px;}
 }
 @keyframes logo-container {
    from {transform:translateY(-50%);}
    to {transform:translateY(-75%);}
 }
 @keyframes play-container {
     0% {transform:scale(15) rotate(115deg);}
     100%{transform:scale(1) rotate(45deg);}
 }
 @keyframes fade-in {
    from{opacity:0;}
    to {opacity:1;}
 }
@keyframes play {
     0% {transform:scale(75) rotate(45deg);}
     100%{transform:scale(1);}
 }
@font-face {
    font-family: Avenir Bold;
    src: url(.Fonts/AvenirNextLTPro-Bold.otf);
}
